<div class="container-fluid" style="background-color:#0B0146 ;border-top-right-radius: 70px;">
 <div class="container">
    <div class="row">
        <div class="col">
            <a href=""><span style="color: #fff;font-family: Montserrat;font-size: 15px;font-style:normal;font-weight: 600;line-height: normal;text-decoration-line: underline;">C’est quoi JESUIFAN?</span></a>
         </div>
         <div class="col">
           <a href=""><span style="color: #fff;font-family: Montserrat;font-size: 15px;font-style:normal;font-weight: 600;line-height: normal;text-decoration-line: underline;">Confidentialité</span></a>
         </div>
         <div class="col">
            <a href=""><span style="color: #fff;font-family: Montserrat;font-size: 15px;font-style:normal;font-weight: 600;line-height: normal;text-decoration-line: underline;">Annuaire</span></a>
         </div>
         <div class="col">
            <a href=""><span style="color: #fff;font-family: Montserrat;font-size: 15px;font-style:normal;font-weight: 600;line-height: normal;text-decoration-line: underline;">Sitemap</span></a>
         </div>
         <div class="col">
            <a href=""><span style="color: #fff;font-family: Montserrat;font-size: 15px;font-style:normal;font-weight: 600;line-height: normal;text-decoration-line: underline;">Signaler un problème</span></a>
         </div>
    </div>
 </div><br>
 <div class="container border">
 </div><br>
 <div class="container">
    <div class="row">
       <div class="col-9">

       </div>
       <div class="col-3">
        <span style="color: #fff;font-size:11px">Tous droits réservés JESUIFAN SOFTWARE © 2023</span>
       </div>
    </div>
    
 </div>
</div>