<div class="col-sm-2 scrollable-div ">
    <div class="top-sidenav">
     <div class="header">
       <img src="../../../assets/images/jesuifan 1.png" alt="" style="width:100px;height: 60px;flex-shrink: 0;">
     </div>
     <div class="sidenav">
       
       <ul class="menu" style="margin-left: 40px;"><br>
         <li><a href="#">Mes annonces</a></li>
         <li><a href="#">Nos offres</a></li>
         <li><a href="#">Mes achats</a></li>
         <li><a href="#">Mes infos</a></li>
       </ul>
     </div>
     <div class="bottom-sidenav" style="background-color: #C3C2C2;">
       
       <ul class="menu" style="margin-left: 40px;"><br>
         <span style="font-weight: bold;font-size: 20px;color:black">Villes</span>
         <li><a href="#" style="color:blue">Ouagadougou</a></li>
         <li><a href="#" style="color:blue">Bobo Dioulasso</a></li>
         <li><a href="#" style="color:blue">Koudougou</a></li>
       </ul><br><br>
       <ul class="menu" style="margin-left: 40px;"><br>
         <span style="font-weight: bold;font-size: 20px;color:black">Catégories</span>
         <li><a href="#" style="color:blue">Bizi- Escortes</a></li>
         <li><a href="#" style="color:blue">Massage</a></li>
         <li><a href="#" style="color:blue">Produit Adulte</a></li>
       </ul>
     </div>
     
       
    </div>
 </div>